.first-section{
    background-color: aqua;
}

.second-section{
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}
.another-div{
    background-color: yellow;
}

.second-section .another-div h1{
    color: black;
}
.second-section .another-div h3{
    color: rgb(221, 25, 25);
}
.second-section .another-div p{
    color: rgba(158, 3, 182, 0.993);
}
