.flexcard{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.card1, .card2{
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.gridcard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.item-1, .item-2{
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}